ion-menu {
  --width: 240px;
  background-size: cover;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-item {
  --padding-start: 16px;
}

ion-list {
  padding: 16px;
}
